.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._榛樿鏍峰紡 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
._褰㈢姸 {
}
._姘村钩绾� {
}
._褰㈢姸1 {
  color:#333333;
}
._涓€绾ф爣棰� {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
}
._浜岀骇鏍囬 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
}
._涓夌骇鏍囬 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
}
._鍥涚骇鏍囬 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  color:#333333;
  text-align:left;
}
._浜旂骇鏍囬 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
}
._鍏骇鏍囬 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
}
._鏂囨湰娈佃惤 {
  color:#333333;
  text-align:left;
}
._榧犳爣鎸変笅鏂囨湰閾炬帴鏃� {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.menu_item {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._琛ㄥ崟鎻愮ず {
  color:#999999;
}
._琛ㄥ崟绂佺敤 {
}
._鏂囨湰閾炬帴 {
  color:#0000FF;
}
._榧犳爣鎮仠鏂囨湰閾炬帴鏃� {
}
._娴佺▼褰㈢姸 {
}
.new_style {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2F8CFF;
  text-align:left;
}
.basicbutton-embossed {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.box_1 {
}
._鑷畾涔塤涓夌骇鑿滃崟 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
._鑷畾涔塤涓€绾ц彍鍗� {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3BB19C;
  text-align:left;
}
._姘村钩绾�1 {
  color:#333333;
}
.primary-button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:16px;
}
._鍨傜洿绾� {
}
._鑷畾涔塤钃�1 {
  font-size:14px;
  color:#FFFFFF;
}
._鑷畾涔塤钃�2 {
  font-size:14px;
  color:#FFFFFF;
}
._鑷畾涔塤钃�3 {
  font-size:14px;
  color:#FFFFFF;
}
._鑷畾涔塤缁�1 {
  font-size:14px;
  color:#FFFFFF;
}
._鑷畾涔塤缁�2 {
  font-size:14px;
  color:#FFFFFF;
}
._鑷畾涔塤缁�3 {
  font-size:14px;
  color:#FFFFFF;
}
._鑷畾涔塤姗�1 {
  font-size:14px;
  color:#FFFFFF;
}
._鑷畾涔塤姗�2 {
  font-size:14px;
  color:#FFFFFF;
}
._鑷畾涔塤姗�3 {
  font-size:14px;
  color:#FFFFFF;
}
._鑷畾涔塤娣辫摑 {
  font-size:14px;
  color:#333E50;
}
._鑷畾涔塤鏍囬鏍�1 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#3BB19C;
  text-align:left;
}
._杩炴帴绾� {
  color:#333333;
}
._褰㈢姸2 {
  font-size:13px;
  color:#000000;
}
._鏂囨湰娈佃惤1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._鏂囨湰妗� {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._澶氳鏂囨湰妗� {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._澶嶉€夋 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._鍗曢€夋寜閽� {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._涓嬫媺鍒楄〃妗� {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._涓嬫媺鍒楄〃妗�1 {
  color:#000000;
  text-align:left;
}
._琛ㄦ牸 {
}
.basicbutton {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
._褰㈢姸3 {
}
.basicbutton-outline {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:center;
}
._姘村钩绾�2 {
}
._姘村钩绾�3 {
}
._鏂囨湰妗�1 {
  color:#000000;
  text-align:left;
}
.html_button {
  text-align:center;
}
._鍥剧墖 {
  color:#000000;
}
._榛樿鏍峰紡1 {
}
.title3 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3BB19C;
  text-align:left;
}
.basictextlabel {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#1BBC9C;
  text-align:center;
}
._榛樿鏍峰紡2 {
}
.button {
}
._鏂囨湰娈佃惤2 {
  text-align:left;
}
._澶嶉€夋1 {
  text-align:left;
}
.grouped-buttons {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:16px;
}
.label {
  font-size:14px;
  text-align:left;
}
.tree_node {
  text-align:left;
}
.basicbutton1 {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.box_21 {
}
.image1 {
  color:#000000;
}
._鏂囨湰娈佃惤3 {
  text-align:left;
}
._浜岀骇鏍囬1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.icon {
}
.line {
}
._鍥剧墖1 {
  color:#000000;
}
textarea, select, input, button { outline: none; }